body, html, button, input, select {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    background: white;
}

#header {
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    margin: 0;
    font-size: 28px;
}

#header p {
    margin: 0;
    font-size: 18px;
}

#sub-header {
    padding: 90px;
    background-color: #008cba;
    color: white;
    text-align: center;
}

#sub-header h2 {
    margin: 0;
    font-size: 32px;
    color: white;
}

#sub-header p {
    margin: 10px 0;
    font-size: 24px;
    color: white;
}

#formContainer {
    width: 700px; /* Updated width */
    min-height: 350px;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -50px;
}

.form-slide.final-slide {
    width: 624px; /* Updated width for final slide */
    margin-left: -62px; /* Centered final slide */
}

#progress-bar {
    width: calc(100% - 80px);
    height: 12px;
    background-color: #e0e0e0;
    margin: 0 auto 30px auto;
    border-radius: 6px;
}

#progress {
    width: 0;
    height: 100%;
    background-color: #FF4500;
    transition: width 0.6s ease-in-out, background-color 0.6s ease-in-out; /* Smoother transition */
    border-radius: 6px;
}

.form-slide {
    display: none;
    text-align: center;
}

.form-slide.active {
    display: block;
}

h2 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #333;
    font-size: 24px;
}

.option-button {
    border: none;
    padding: 12px 0;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
    width: 45%;
    background-color: #008cba;
    color: white;
    display: block;
}

.option-button.selected {
    background-color: #005f5f;
}

.input-group, input[type=tel], input[type=email] {
    margin-bottom: 20px;
}

.input-group input, input[type=tel], input[type=email] {
    padding: 18px;
    font-size: 18px;
}

.claim-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 20px 0;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 25px;
    font-size: 24px;
    width: 45%;
    display: block;
}

.previous-button {
    background-color: white;
    color: #008cba;
    border: 2px solid #008cba;
    padding: 12px 0;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 25px;
    width: 45%;
    font-size: 18px;
}

.gender-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.gender-option {
    cursor: pointer;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked+span {
    background-color: #008cba;
    color: white;
}

.tcpa-disclosure {
    font-size: 14px;
    margin-top: 15px;
    color: #666;
    text-align: justify;
}

.call {
    margin: 20px 0;
    font-size: 18px;
    color: #008cba;
}

.call span {
    font-weight: 700;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: white;
    margin-top: 20px;
}
